* {
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #FEE29A;
    color: white;
    transition: background-color 1s ease;
      /* background: #020520; */
      perspective: 500px;
      overflow-x: hidden;
  }

  h1 {
    font-family: 'arsenica_trialregular';
    font-size: 4vw;
  }

  p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4vw;
  }
  
  /* panel styles */
  .panel {
    /* min height incase content is higher than window height */
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
  }
  
  
  /* colours */
  .color-violet {
    background-color: #A58DD7;
  }
  .color-indigo {
    background-color: #4332CF;
  }
  .color-blue {
    background-color: #48BDF2;
  }
  .color-green {
    background-color: #8CDDBF;
  }
  .color-yellow {
    background-color: #FEE29A;
  }
  .color-orange {
    background-color: #F19031;
  }
  .color-red {
    background-color: #F2293A;
  }

  .footer {
      background-color: #4332CF;
      /* position: fixed; */
      padding: 2vw;
      /* width: 100%; */
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin-bottom: 0px;
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }

  /* a {
 
  } */

  .menu {
      display: flex;
      flex-direction: column;
      text-align: right;
      position: sticky;
      justify-content: end;
      margin-right: 3vw;
      top: 3vw;


      font-family: 'Space Mono', monospace;
      color: black;
      font-style: italic;
      font-size: 1.2vw;
      z-index: 900;
  }
  
  /* styling for demo, can ignore */
  body {
    text-align: center;
    font-size: 120%;
    line-height: 1.618;
  }
  h1, h2 {
    /* font-size: 3em;
    letter-spacing: -0.05em; */
    line-height: 1.1;
  }

  .smaller {
    font-family: 'Space Mono', monospace;
    margin-top: 1vw;
    font-size: 0.5vw;
  }
  
  figure {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      margin-bottom: 10vh;
  }
  
  figure:nth-child(1) img {
      /* transform: scale(0.6) rotate(-12.5deg); */
      -webkit-transition: opacity 0.3s;
      opacity: 0.;
  }
  /*
  figure:nth-child(2) img {
      transform: scale(0.6) rotate(-9.72222deg);
  }
  figure:nth-child(3) img {
      transform: scale(0.6) rotate(-6.94deg);
  } */
  /* figure:nth-child(4) img {
      transform: scale(0.6) rotate(-4.16deg);
  }
  figure:nth-child(5) img {
      transform: scale(0.6) rotate(-1.38deg);
  }
  figure:nth-child(6) img {
      transform: scale(0.6) rotate(1.38deg);
  }
  figure:nth-child(7) img {
      transform: scale(0.6) rotate(4.16deg);
  }
  figure:nth-child(8) img {
      transform: scale(0.6) rotate(6.94deg);
  }
  figure:nth-child(9) img {
      transform: scale(0.6) rotate(9.72deg);
  }
  figure:nth-child(10) img {
      transform: scale(0.6) rotate(12.5deg);
  } */
  figure img {
    width: 42vw;
    /* transform: scale(0.6); */
    /* height: 100%; */
      /* width: 100vmin; */
      /* height: 100vmin; */
      border-radius: 3px;
  }





  /*! Generated by Font Squirrel (https://www.fontsquirrel.com) on June 1, 2022 */



@font-face {
    font-family: 'arsenica_trialbold';
    src: url('arsenicatrial-bold-webfont.woff2') format('woff2'),
         url('arsenicatrial-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arsenica_trialbold_italic';
    src: url('arsenicatrial-bolditalic-webfont.woff2') format('woff2'),
         url('arsenicatrial-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arsenica_trialitalic';
    src: url('arsenicatrial-italic-webfont.woff2') format('woff2'),
         url('arsenicatrial-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arsenica_triallight';
    src: url('arsenicatrial-light-webfont.woff2') format('woff2'),
         url('arsenicatrial-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arsenica_trialregular';
    src: url('fonts/arsenicatrial-regular-webfont.woff2') format('woff2'),
         url('fonts/arsenicatrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arsenica_trialmedium';
    src: url('arsenicatrial-medium-webfont.woff2') format('woff2'),
         url('arsenicatrial-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arsenica_trialmedium_italic';
    src: url('arsenicatrial-mediumitalic-webfont.woff2') format('woff2'),
         url('arsenicatrial-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arsenica_triallight_italic';
    src: url('arsenicatrial-lightitalic-webfont.woff2') format('woff2'),
         url('arsenicatrial-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}